#black section {
    background-color: black;
    height: 630px;
    width: 500px;
}

#green1 {
    background: darkgreen;
    width: 70%;
    height: 63%;
}

#green2 {
    background: darkgreen;
    margin-top: 26%;
    padding-bottom: 21%;
}
