#black section {
    background-color: black;
    height: 600px;
    width: 500px;
}

#green1 {
    background: darkgreen;
    width: 65%;
    height: 65%;
}

#green2 {
    background: darkgreen;
    margin-top: 20%;
    padding-bottom: 25%;
}
